---
---
@import "{{ site.theme }}";
.inner {
    max-width: 1080px!important;
}
#main_content {
    background: #f4f4f4;
    border: 1px solid #d1d5da;
    border-bottom: none;
    border-top: none;
    padding-left: 40px;
    padding-right: 40px;
}